%div.inst-box
  %header
    %strong
      Description
    %p.desc
      A description of the service provided.
  %p
    = text_area_tag 'service_description', '', class: 'span9', rows: 10, required: true