%div.inst-box
  %header
    %strong
      Eligibility
    %p.desc
      What criteria must served groups have to receive service, if not everyone?
  %p
    = text_area_tag "eligibility", service.key?(:eligibility) ? service.eligibility : "", :class => "span5"