%div.inst-box
  %header
    %strong
      Email (general info)
    %p.desc
      %em
        If the email belongs to a contact, please move it to the existing contact, or create a new contact.
  %p
    - if @location.key?(:emails)
      - @location.emails.each_with_index do |email, i|
        = text_field_tag "emails[]", email, :class => "span3", maxlength: 255, id: "email_#{i}"
    - else
      = text_field_tag "emails[]", "", :class => "span3", maxlength: 255, id: "new_email"