%fieldset#faxes
  = "Number*:"
  = text_field_tag "fax_number[]", "", maxlength: 12, class: "span2"
  %br
  = "Department:"
  = text_field_tag "fax_department[]", "", maxlength: 50, class: "span2"
  %br
