%div.inst-box
  %header
    %strong
      Hours of operation
    %p.desc
      When is the location open?
      %em
        For example, "Monday-Friday, 9-12, 2-5"
  %p
    = text_field_tag "text_hours", @location[:hours] || '', :class => "span11"