%div.inst-box
  %header
    %strong
      Transportation Options
  %p
    = text_area_tag "transportation", @location.key?(:transportation) ? @location.transportation : "", :class => "span9", maxlength: 200