%div.inst-box
  %header
    %strong
      Transportation Options
    %p.desc
      What public transportation options are nearby? (Bus stops, train stations, etc.)
  %p
    = text_area_tag "transportation", @location[:transportation] || '', class: "span9", maxlength: 255