%div.inst-box
  %header
    %strong
      Contacts
    %p.desc
      Who are the main points of contact at the location?

  - fields = render "forms/single_contact"
  %p
    = link_to_function "Add a point of contact", ("add_fields(6, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"
