%div.inst-box
  %header
    %strong
      Email (for general info)
    If the email belongs to a contact, please create a new contact.
  %p
    = text_field_tag "emails[]", "", :class => "span3", maxlength: 255, id: "new_email"