%div.inst-box
  %header
    %strong
      Fax Numbers
    %p.desc
      %em
        If the fax belongs to a contact, please enter it in the Contacts section.
  - fields = render "forms/single_fax"
  %p
    = link_to_function "Add a fax number", ("add_fields(2, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary add_fax"