%div.inst-box
  %header
    %strong
      Keywords
    %p.desc
      What search terms does this location's services fall under?
  - fields = render "forms/add_keyword"
  %p
    = link_to_function "Add a keyword", ("add_fields(1, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"

