%div.inst-box
  %header
    %strong
      Location Name*
    %p.desc
      The name of the branch, department, or program belonging to
      ="#{@org.name}"
  %p
    = text_field_tag 'location_name', '', maxlength: 255, class: 'span10', required: true
