%div.inst-box
  %header
    %strong
      Phone Numbers
    %p.desc
      %em
        10 digits only please, in this format: 650-802-7922.
        %br
        If the phone number belongs to a contact, please enter it in the Contacts section.

  - fields = render "forms/single_phone"
  %p
    = link_to_function "Add a phone number", ("add_fields(4, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary add_phone"
