%div.inst-box
  %header
    %strong
      Short Description* (200 characters max)
    %p.desc
      A short summary of the description of services.
  %p
    = text_area_tag "short_desc", "", :class => "span9", maxlength: 200