%div.inst-box
  %header
    %strong
      Websites
    %p.desc
      What websites are associated with the location?
      %em
        Must include "http://" or "https://"
  %fieldset#urls
    = url_field_tag "urls[]", @location_url, class: "span9"

  - fields = render "forms/add_url"
  %p
    = link_to_function "Add a website", ("add_fields(1, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"
