%div.inst-box
  %header
    %strong
      Websites - only if different from the organization website (must include "http://" or "https://")
  %fieldset#urls
    = text_field_tag "urls[]", "", class: "span9", id: "new_url"
    %br
    = link_to "Delete this website permanently", '#', class: "btn btn-danger"
  - fields = render "forms/add_url"
  %p
    = link_to_function "Add a new website", ("add_fields(1, this, \"#{escape_javascript(fields)}\")"), class: "btn btn-primary"