= link_to "SMC Connect Admin", root_path, :class => 'brand'
- if user_signed_in?
  %p.navbar-text
    Logged in as #{current_user.name}
    = link_to 'Logout', destroy_user_session_path, :method => :delete
- else
  %p.navbar-text
    = link_to 'Login', new_user_session_path
